// Loader
.loader {
  display: grid;
  place-content: center;
  background-color: $accent;
  position: fixed;
  inset: 0;
  z-index: 999;
  &__spinner {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 4px solid $black;
    box-sizing: border-box;
    background-color: $black;
  }
}

// Hamburger Menu
.hamburger-container {
  position: relative;
  z-index: 1;
  // background-color: red;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  cursor: pointer;

  // &:hover {
  //   .hamburger {
  //     &:before {
  //       transform: rotate(0deg) translateX(0px) translateY(-10px);
  //     }
  //   }
  // }

  &:hover {
    @include view(lg-min) {
      .hamburger {
        width: 32px;
        // opacity: 0.8;
        &:before,
        &:after {
          width: 32px;
          // opacity: 0.8;
        }
      }
    }
  }

  @include view(lg-min) {
    display: none;
  }
}

.hamburger {
  display: flex;
  position: relative;
  z-index: 2;
  width: cross-media(30px, 991px, 36px);
  height: 3px;
  background: $white;
  transition: all 200ms ease-in-out;

  // &:hover {
  //   &:before {
  //     transform: rotate(0deg) translateX(0px) translateY(-10px);
  //   }
  // }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: cross-media(30px, 991px, 36px);
    height: 3px;
    background: $white;
    transition: all 200ms ease-in-out;
  }

  &:before {
    transform: translateY(-10px);
  }

  &:after {
    transform: translateY(10px);
  }

  &--pressed {
    transform: translateX(-50px);
    background-color: transparent;

    &:hover {
      &:before {
        transform: rotate(45deg) translate(35px, -35px);
      }
    }

    &:before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &:after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}

// Custom Cursor
.cursor {
  position: absolute;
  display: grid;
  place-items: center;
  pointer-events: none;

  &__circle {
    pointer-events: none;

    &--large {
      position: absolute;
      z-index: 100;
      display: grid;
      place-items: center;
      inset: 0;
      border-radius: 100%;
      background-color: $accent;

      @include view(md-max) {
        inset: 0;
        margin: auto;
      }
    }

    &--small {
      position: absolute;
      z-index: 101;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: $white;

      @include view(md-max) {
        display: none;
      }
    }
  }

  &__arrow {
    margin-right: -120px;

    @include view(md-max) {
      display: none;
    }
  }
}

// CTA
.cta {
  @include clear-styles;
  display: flex;
  gap: cross-media(8px, 991px, 16px);
  background-color: $accent;
  padding: cross-media(4px, 991px, 8px) cross-media(12px, 991px, 24px);
  border: solid 1px transparent;
  border-radius: cross-media(18px, 991px, 36px);
  transition: background-color ease 300ms, border-color ease 300ms;

  &:after {
    @include icon("\e900");
    transform: rotate(135deg);
    transition: transform ease 300ms;
  }

  &:hover {
    background-color: $black;
    color: $white;
    border: solid 1px $accent;

    &:after {
      transform: rotate(180deg);
    }
  }
}

// Arrow
.arrow-wrapper {
  position: absolute;
  transform-origin: center;
  transition: transform 0.1s ease-out;
  width: 100px;
  height: 100px;
  z-index: 200;
  transform: translateX(250px);

  @include view(md-max) {
    display: none;
  }
}
.arrow-centered {
  position: absolute;
  z-index: 200;
  // margin-left: 150px;
  // left: 150px;
  // height: 20px;
  transform-origin: 0% 50%;
  transition: transform 0.1s ease-out;
}
