// Header
.header {
  position: fixed;
  z-index: 200;
  width: 100dvw;
  max-width: 100%;
  background-color: transparent;

  &--sticky {
    mix-blend-mode: difference;
    & .header__logo-container {
      @include view(md-max) {
        opacity: 0;
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: cross-media(12px, 991px, 24px) cross-media(16px, 991px, 32px);

    @include view(md-max) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo-container {
    z-index: 1;
  }

  &__extra-menu {
    display: flex;
    align-items: center;
    gap: cross-media(12px, 991px, 24px);
    margin-left: auto;

    @include view(md-max) {
      margin-inline: auto;
      margin-top: 40px;
    }
  }

  & ul {
    @include clear-styles;

    @include view(md-max) {
      background-color: $black;
    }
  }

  & a {
    color: $white;
  }
}

// Main Menu
.main-menu {
  display: flex;
  gap: cross-media(12px, 991px, 24px);

  // @include view(md-max) {
  // display: none;
  // }

  & span {
    @include view(md-max) {
      justify-self: start;
    }
  }

  // & li {
  //   &:hover {
  //     & a {
  //       transition: color ease 300ms;
  //       &:hover {
  //         color: $accent;
  //       }
  //     }
  //   }
  // }

  &__list {
    @include view(lg-min) {
      display: flex;
      gap: cross-media(12px, 991px, 24px);
      position: relative;
    }

    @include view(md-max) {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: cross-media(12px, 991px, 24px);
      // display: none;
      // position: relative;
      position: fixed;
      inset: 0;
      min-height: 100vh;
      background-color: $black;
    }

    // & ul {
    //   position: absolute;
    //   visibility: hidden;
    //   opacity: 0;
    // }
  }
}

// Hero
.hero {
  padding-top: cross-media(80px, 991px, 100px);

  &__container {
    display: grid;
    gap: 20px;

    @include view(lg-min) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include view(md-max) {
      grid-template-areas: "a a" "b b" "c c" "d e" "f f";
      // grid-template-columns: 1fr 1fr;
    }
  }

  &__heading {
    @include view(lg-min) {
      max-width: 445px;
    }

    @include view(md-max) {
      grid-column: a;
    }
  }

  &__img-container {
    z-index: 1;
    border-radius: 100%;
    overflow: hidden;

    &--1 {
      @include view(md-max) {
        grid-column: b;
      }
    }

    &--2 {
      @include view(md-max) {
        grid-column: d;
      }
    }

    &--3 {
      @include view(md-max) {
        grid-column: e;
      }
    }

    &--interactive {
      display: grid;
      align-items: center;
      clip-path: circle(50% at 50% 50%);
      @include view(md-max) {
        grid-column: f;
        position: relative;
      }
    }
  }

  &__img {
    border-radius: 100%;
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 50%;
    width: 100%;
    height: 100%;
    background-color: $accent;
    border-radius: 100%;

    &--interactive {
      display: grid;
      place-content: center;
      background-color: $accent;
      right: 0;

      @include view(lg-min) {
        display: none;
      }
    }
  }

  &__text-container {
    display: grid;
    align-content: start;
    gap: 20px;

    @include view(md-max) {
      grid-column: c;
    }
  }
}

// Discover
.discover {
  &__heading {
    padding-block: cross-media(32px, 991px, 64px) cross-media(26px, 991px, 54px);
  }

  &__item {
    border-top: solid 2px $white;
    margin-bottom: cross-media(24px, 991px, 48px);

    &:hover {
      border-top: solid 2px $accent;

      & .discover__link {
        color: $black;

        &:before {
          content: "";
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        &:after {
          color: $accent;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: cross-media(4px, 991px, 8px);
    color: $white;
    transition: all ease 300ms;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: cross-media(225px, 991px, 450px);
      height: 100%;
      background-color: $accent;
      z-index: -1;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: all ease 400ms;
    }

    &:after {
      @include icon("\e900");
      transform: rotate(135deg);
      transition: all ease 300ms;
    }
  }
}
