// Headings
.heading-l {
  font-size: cross-media(48px, 991px, 96px);
  font-weight: 400;
  line-height: 1;
}

// Texts
.text-l {
  font-size: cross-media(16px, 991px, 24px);
}

p,
.text {
  font-size: cross-media(16px, 991px, 18px);
  line-height: cross-media(22px, 991px, 26px);
}
