/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon/icomoon.eot?6ejz1j");
  src: url("../../assets/fonts/icomoon/icomoon.eot?6ejz1j#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon/icomoon.ttf?6ejz1j") format("truetype"), url("../../assets/fonts/icomoon/icomoon.woff?6ejz1j") format("woff"), url("../../assets/fonts/icomoon/icomoon.svg?6ejz1j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.heading-l {
  font-size: clamp(48px, 9.687184662vw, 96px);
  font-weight: 400;
  line-height: 1;
}

.text-l {
  font-size: clamp(16px, 2.4217961655vw, 24px);
}

p,
.text {
  font-size: clamp(16px, 1.8163471241vw, 18px);
  line-height: clamp(22px, 2.6236125126vw, 26px);
}

.body {
  overflow-x: hidden;
  background-color: #2e3233;
  color: #dae6e6;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  list-style-type: none;
}

button {
  cursor: pointer;
}

.boxed {
  max-width: 1440px;
  padding-inline: clamp(20px, 3.229061554vw, 32px);
}

.centered {
  margin-inline: auto;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

@media only screen and (min-width: 992px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .hidden-mobile {
    display: none !important;
  }
}

.header {
  position: fixed;
  z-index: 200;
  width: 100dvw;
  max-width: 100%;
  background-color: transparent;
}
.header--sticky {
  mix-blend-mode: difference;
}
@media only screen and (max-width: 991px) {
  .header--sticky .header__logo-container {
    opacity: 0;
  }
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: clamp(12px, 2.4217961655vw, 24px) clamp(16px, 3.229061554vw, 32px);
}
@media only screen and (max-width: 991px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo-container {
  z-index: 1;
}
.header__extra-menu {
  display: flex;
  align-items: center;
  gap: clamp(12px, 2.4217961655vw, 24px);
  margin-left: auto;
}
@media only screen and (max-width: 991px) {
  .header__extra-menu {
    margin-inline: auto;
    margin-top: 40px;
  }
}
.header ul {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  list-style-type: none;
}
@media only screen and (max-width: 991px) {
  .header ul {
    background-color: #2e3233;
  }
}
.header a {
  color: #dae6e6;
}

.main-menu {
  display: flex;
  gap: clamp(12px, 2.4217961655vw, 24px);
}
@media only screen and (max-width: 991px) {
  .main-menu span {
    justify-self: start;
  }
}
@media only screen and (min-width: 992px) {
  .main-menu__list {
    display: flex;
    gap: clamp(12px, 2.4217961655vw, 24px);
    position: relative;
  }
}
@media only screen and (max-width: 991px) {
  .main-menu__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(12px, 2.4217961655vw, 24px);
    position: fixed;
    inset: 0;
    min-height: 100vh;
    background-color: #2e3233;
  }
}

.hero {
  padding-top: clamp(80px, 10.0908173562vw, 100px);
}
.hero__container {
  display: grid;
  gap: 20px;
}
@media only screen and (min-width: 992px) {
  .hero__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .hero__container {
    grid-template-areas: "a a" "b b" "c c" "d e" "f f";
  }
}
@media only screen and (min-width: 992px) {
  .hero__heading {
    max-width: 445px;
  }
}
@media only screen and (max-width: 991px) {
  .hero__heading {
    grid-column: a;
  }
}
.hero__img-container {
  z-index: 1;
  border-radius: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .hero__img-container--1 {
    grid-column: b;
  }
}
@media only screen and (max-width: 991px) {
  .hero__img-container--2 {
    grid-column: d;
  }
}
@media only screen and (max-width: 991px) {
  .hero__img-container--3 {
    grid-column: e;
  }
}
.hero__img-container--interactive {
  display: grid;
  align-items: center;
  clip-path: circle(50% at 50% 50%);
}
@media only screen and (max-width: 991px) {
  .hero__img-container--interactive {
    grid-column: f;
    position: relative;
  }
}
.hero__img {
  border-radius: 100%;
}
.hero__circle {
  position: absolute;
  top: 0;
  right: 50%;
  width: 100%;
  height: 100%;
  background-color: #eeff33;
  border-radius: 100%;
}
.hero__circle--interactive {
  display: grid;
  place-content: center;
  background-color: #eeff33;
  right: 0;
}
@media only screen and (min-width: 992px) {
  .hero__circle--interactive {
    display: none;
  }
}
.hero__text-container {
  display: grid;
  align-content: start;
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  .hero__text-container {
    grid-column: c;
  }
}

.discover__heading {
  padding-block: clamp(32px, 6.458123108vw, 64px) clamp(26px, 5.4490413724vw, 54px);
}
.discover__item {
  border-top: solid 2px #dae6e6;
  margin-bottom: clamp(24px, 4.843592331vw, 48px);
}
.discover__item:hover {
  border-top: solid 2px #eeff33;
}
.discover__item:hover .discover__link {
  color: #2e3233;
}
.discover__item:hover .discover__link:before {
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.discover__item:hover .discover__link:after {
  color: #eeff33;
}
.discover__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: clamp(4px, 0.8072653885vw, 8px);
  color: #dae6e6;
  transition: all ease 300ms;
}
.discover__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(225px, 45.4086781029vw, 450px);
  height: 100%;
  background-color: #eeff33;
  z-index: -1;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all ease 400ms;
}
.discover__link:after {
  content: "\e900";
  font-family: "icomoon";
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(135deg);
  transition: all ease 300ms;
}

.loader {
  display: grid;
  place-content: center;
  background-color: #eeff33;
  position: fixed;
  inset: 0;
  z-index: 999;
}
.loader__spinner {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 4px solid #2e3233;
  box-sizing: border-box;
  background-color: #2e3233;
}

.hamburger-container {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .hamburger-container:hover .hamburger {
    width: 32px;
  }
  .hamburger-container:hover .hamburger:before, .hamburger-container:hover .hamburger:after {
    width: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .hamburger-container {
    display: none;
  }
}

.hamburger {
  display: flex;
  position: relative;
  z-index: 2;
  width: clamp(30px, 3.6326942482vw, 36px);
  height: 3px;
  background: #dae6e6;
  transition: all 200ms ease-in-out;
}
.hamburger:before, .hamburger:after {
  content: "";
  position: absolute;
  width: clamp(30px, 3.6326942482vw, 36px);
  height: 3px;
  background: #dae6e6;
  transition: all 200ms ease-in-out;
}
.hamburger:before {
  transform: translateY(-10px);
}
.hamburger:after {
  transform: translateY(10px);
}
.hamburger--pressed {
  transform: translateX(-50px);
  background-color: transparent;
}
.hamburger--pressed:hover:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.hamburger--pressed:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.hamburger--pressed:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.cursor {
  position: absolute;
  display: grid;
  place-items: center;
  pointer-events: none;
}
.cursor__circle {
  pointer-events: none;
}
.cursor__circle--large {
  position: absolute;
  z-index: 100;
  display: grid;
  place-items: center;
  inset: 0;
  border-radius: 100%;
  background-color: #eeff33;
}
@media only screen and (max-width: 991px) {
  .cursor__circle--large {
    inset: 0;
    margin: auto;
  }
}
.cursor__circle--small {
  position: absolute;
  z-index: 101;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #dae6e6;
}
@media only screen and (max-width: 991px) {
  .cursor__circle--small {
    display: none;
  }
}
.cursor__arrow {
  margin-right: -120px;
}
@media only screen and (max-width: 991px) {
  .cursor__arrow {
    display: none;
  }
}

.cta {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: clamp(8px, 1.614530777vw, 16px);
  background-color: #eeff33;
  padding: clamp(4px, 0.8072653885vw, 8px) clamp(12px, 2.4217961655vw, 24px);
  border: solid 1px transparent;
  border-radius: clamp(18px, 3.6326942482vw, 36px);
  transition: background-color ease 300ms, border-color ease 300ms;
}
.cta:after {
  content: "\e900";
  font-family: "icomoon";
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(135deg);
  transition: transform ease 300ms;
}
.cta:hover {
  background-color: #2e3233;
  color: #dae6e6;
  border: solid 1px #eeff33;
}
.cta:hover:after {
  transform: rotate(180deg);
}

.arrow-wrapper {
  position: absolute;
  transform-origin: center;
  transition: transform 0.1s ease-out;
  width: 100px;
  height: 100px;
  z-index: 200;
  transform: translateX(250px);
}
@media only screen and (max-width: 991px) {
  .arrow-wrapper {
    display: none;
  }
}

.arrow-centered {
  position: absolute;
  z-index: 200;
  transform-origin: 0% 50%;
  transition: transform 0.1s ease-out;
}

/*# sourceMappingURL=main.css.map */
